.Form{
    background-color: #DDE6ED;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
    padding: 80px;  
    border: 2px solid;
    border-radius: 10%;
    margin-top: 60px;
}

input[type="text"],
input[type="tel"] {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid;
}

button {
    width: 100px;
    padding: 6px;
    margin: 5px;
    margin-left: 35px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}